<section>
  <div class="page-header">
    <h1>Potlucks</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="potluck in vm.potlucks"
       ui-sref="potlucks.view({ potluckId: potluck._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="potluck.created | date:'mediumDate'"></span>
        by
        <span ng-if="potluck.user" ng-bind="potluck.user.displayName"></span>
        <span ng-if="!potluck.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="potluck.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.potlucks.$resolved && !vm.potlucks.length">
    No Potlucks yet, why don't you <a ui-sref="potlucks.create">create one</a>?
  </div>
</section>
