<section data-ng-controller="HomeController">
  <section data-ng-controller="CoffeesController">
    <section class="row" ng-controller="ViewProfileController">
      <section ng-controller="AuthenticationController">

      <div class="col-sm-12" id="below-navbar">

        <ul role="presentation" class="nav nav-tabs profile-tab"  ng-show="authentication.user" >
          <li role="presentation"><a href="#">{{profile.username}} </a></li>
        </ul>


        <ul role="presentation" class="nav nav-tabs submit-tab">
          <li role="presentation"><a href="/coffees/create" ng-click="setUserImage()"><i
            class="glyphicon glyphicon-plus-sign"></i> Submit </a></li>
        </ul>


      </div>


      <div class="col-lg-12 main-deals-profile">

        <!--Coffees Array Start-->

        <div class="list-group-home-deals">

          <div ng-hide="authentication.user" class="spotlight-deal">

            <div class="col-md-12">

              <h3 class="col-md-12 text-center login-screen-buffer-top">Login to view profile :</h3>
              <div class=" col-md-12 social-buttons text-center">
                <a ng-click="callOauthProvider('/api/auth/facebook')" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                <a ng-click="callOauthProvider('/api/auth/google')" class="btn btn-tw"><i class="fa fa-google"></i> Google</a>
              </div>

              <div ui-view></div>

            </div>

          </div>

          <div ng-show="authentication.user" class="spotlight-deal">
            <div class="row inner-profile-header">
              <div class="col-lg-1 "></div>
              <div class="col-lg-3 avatar-section">
                <div class="row profile-avatar" ng-if="ownProfile">
                  <img ng-src="{{profile.profileImageURL}}" class="img-thumbnail user-profile-picture-circle">
                  if user = logged in user have edit button
                </div>
                <div class="row profile-avatar">
                  <img ng-src="{{profile.profileImageURL}}" class="img-thumbnail user-profile-picture-circle">
                </div>
                <div class="row profile-below-avatar">
                </div>
              </div>
              <div class="col-lg-8 profile-info-squares">

                <div class="row  profile-stats-unit">
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Member Since
                    </div>
                    <div class="col-lg-12 text-center profile-location-text">
                      <span am-time-ago="profile.created"></span>
                    </div>
                  </div>
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Location
                    </div>
                    <div class="col-lg-12 text-center profile-location-text">
                      {{profile.county}}
                    </div>
                  </div>
                </div>
                <div class="row  profile-stats-unit">
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Coffees Posted
                    </div>
                    <div class="col-lg-12 text-center">
                      {{coffeesByUser.length}}
                    </div>
                  </div>
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Gender
                    </div>
                    <div class="col-lg-12 text-center profile-location-text">
                      {{profile.gender}}
                    </div>
                  </div>
                </div>
                <div class="row  profile-stats-unit">
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Coffees Reviewed
                    </div>
                    <div class="col-lg-12 text-center">
                      {{commentsByUser.length}}
                    </div>
                  </div>
                  <div class="col-lg-6 text-center">
                    <div class="col-lg-12 text-center profile-stats-unit-title">
                      Total Votes
                    </div>
                    <div class="col-lg-12 text-center">
                      {{totalUpvotes}} <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> -
                      {{totalDownvotes}} <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>


              </div>

            </div>


          </div>


          <!-------      START OF DEAL LIST      -------->

            <div dir-paginate="coffee in coffees | filter:{user: {_id: usernamevalue}} | itemsPerPage:10" class="list-group-item">


              <div class="row">

                <div class="col-lg-2 left-box">

                  <!--<div class="row deal-votes center-block">-->

                  <!--<h1 ng-bind="coffee.votes"></h1>-->

                  <!--</div>-->

                  <div class="row coffee-link link-button-home">

                    <!--<button class="btn btn-default "><i class="glyphicon glyphicon-thumbs-up"></i> Like</button>-->

                    <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                      <!--Logged Out Buttons-->

                      <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                                 class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                      <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                                 class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                      <!--Logged In Buttons-->

                      <md-button aria-label="button" type="button"
                                 class=" vote-count-button">{{coffee.votes}}</md-button>

                      <md-button aria-label="button" ng-disabled="disableButtonUp(coffee)" ng-show="authentication.user" ng-click="upVoteHome(coffee); removeVotesDailyCall()" type="button"
                                 class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                      <md-button aria-label="button" ng-disabled="disableButtonDown(coffee)" ng-show="authentication.user" ng-click="downVoteHome(coffee)" type="button"
                                 class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>





                    </div>

                  </div>


                </div>

                <div class="col-lg-8 middle-box">


                  <div class="col-lg-12 middle-title">
                    <div class="col-lg-8">

                      <h4><b><a ng-href="/coffees/{{coffee._id}}" ng-bind="coffee.title"></a></b>
                      </h4>

                    </div>
                    <div class="col-lg-4">

                      <h4><b>Price:</b> € {{coffee.price.toFixed(2)}}
                      </h4>

                    </div>

                  </div>
                  <div class="col-lg-12">
                    <div class="col-lg-8 middle-title-brand">

                      <h4>{{coffee.brand}}
                      </h4>

                    </div>
                    <div class="col-lg-4">

                      <h4><b>Country:</b> {{coffee.country}}
                      </h4>

                    </div>

                  </div>

                  <div class="col-lg-12 middle-title home-view-details">
                    <div class="col-lg-8">

                      <h4><a ng-href="/coffees/{{coffee._id}}" ng-bind="'View Details...'"></a></h4>

                    </div>
                    <div class="col-lg-4 text-center">



                    </div>

                  </div>





                </div>

                <div class="col-lg-2 right-box">

                  <div class="row deal-image thumbnail-preview center-block">

                    <a ng-href="/coffees/{{coffee._id}}">

                      <img class="home-coffee-image " src="{{coffee.urlimage}}"/>

                    </a>

                  </div>

                  <!--<div class="row center-block save-button">-->
                  <!--<a data-ng-href="/coffees/{{coffee._id}}" >-->
                  <!--<md-button aria-label="button" class="save-button-md">Details</md-button>-->
                  <!--</a>-->
                  <!--</div>-->


                </div>

              </div>


            </div>

          <!-------      END OF DEAL LIST      -------->


        </div>

        <!--Coffees Array End-->


        <div class="alert alert-warning text-center" data-ng-show="coffees.$resolved && coffeesByUser.length < 1 && couponsByUser.length < 1">
          This user has not posted any Coffees or Coupons yet.
        </div>

        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>

        <!--Coffees Array End-->


      </div>


      </section>
    </section>
  </section>
</section>

