<section ng-controller="HomeController">


<div class="wrapper">



<!-- ********************** first section: "home" ****************** -->

<div class="parallax"> 
  <div class="logoRow">
        <img alt="FIRST" class="logo_F" src="modules/core/client/img/brand/logo.png" />
  </div>
<div class="slide">  
  <div class="innerSlide">
    <p></p>
    <h1 class="fancytext">Welcome<ng-show="authentication.user" ng-hide="!authentication.user">, {{authentication.user.firstName}}</a></ng-show="authentication.user">!</h1><br>
    <div class="fancysubtext">
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/authentication/signin" target="_blank" ng-show="!authentication.user">Sign Up</a>

      </p>
      </div>

  </div>
</div>

</div>     

<!-- ********************** z section: "scroll" ****************** -->


<div class="scrollRow"> <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
    </a></div>

<!-- ^^^^^^^^^^^^^^^^^^^^^^^^ z section: "scroll"  ^^^^^^^^^^^^^^^^^^^^^^6 -->   
<!--     <br> -->


  </div>



  <div class="homeRow">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h2><strong>P</strong>lanting <strong>G</strong>od's <strong>L</strong>ove in our <strong>H</strong>earts</h2>
      <p>Our worship service follows a centuries-old pattern (aka “the liturgy”) that is based in Scripture and includes prayers, songs, and call-and-response exchanges with the worship leader</p>
      <p>We’d love for you experience our liturgy in person and join us in worship! We gather every Sunday at 9:30 a.m. for about an hour or so. 
      </p>
      <span><h3><strong>Worship: Sunday 9:30 a.m.</strong></h3></span>
    </div>
       <div class="col-md-2"></div>

    <div class="col-md-3 sanctuaryImg"></div>
    <div class="col-md-1"></div>
 </div>
<!--    <div class="text-center">   -->
<!--     <div class="row">
      <p class="lead">Planting God's Word in our hearts.</p>
       <p class="lead">Growing God's love in each other.</p> 
         <p class="lead">Harvesting God's promises in our community.</p>
    </div>
  </div>   -->
<!-- </div> -->

<div class="parallax2"> </div>


  <div class="homeRow">
    <div class="col-md-1"></div>
    <div class="col-md-3 sschoolImg"></div>
    <div class="col-md-5">
      <h2><strong>G</strong>rowing <strong>G</strong>od's <strong>L</strong>ove in <strong>E</strong>ach <strong>O</strong>ther</h2>
    <p>We hope you’ll join our thriving little community for worship, Bible study, or service!</p> 
    <p>We look forward to walking with you on your journey of faith.</p> 
    <p>Check out the rest of this site to learn more about who we are, what we do, and what we believe.</p>
      <span><h3><strong>Bible Study: Wednesday @ 6 p.m.</strong></h3></span>
    </div>
        <div class="col-md-2"></div>
    <div class="col-md-1"></div>

 </div>

<!-- ************************** slide 3 *************** -->

<div class="parallax3"> </div>


  <div class="homeRow">
    <div class="col-md-2"></div>
    <div class="col-lg-8">
<!--       <p class="lead">Harvesting God's promises in our community.</p> -->
      <h2><strong>H</strong>arvesting <strong>G</strong>od's <strong>P</strong>romises in our <strong>C</strong>ommunity</h2>

    <p>Churchly ipsum dolor amet revelation bless his heart christian, ambient radiate small group reverb special music unpack that worship leader love on cell group in the world very father, I just father. Seminarian reverb bless his heart resurgent seeker friendly ambient purpose-driven.</p> 
    <p>Intentional emergent leather bound books elevate, totally lock in very pour out.</p>
      <!-- <span><h2><strong>Bible Study: Wednesday @ 6 p.m.</strong></h2></span> -->
    </div>
        <div class="col-md-2"></div>

 </div>

        
    </div>
  </div>
</div>

<div class="parallax4">

</div>


<div class="footerRow">
      <div class="logoRow">
        <img alt="FIRST" class="logo_F" src="modules/core/client/img/brand/logo.png" />
  </div>

   <div class="col-md-1"></div>

   <div class="col-md-2">
      <h2><strong>C</strong>ontact</h2>
     

      <p>204 E Pike St</p>
      <p>Attica, IN 47918</p>
      <p></p>
      <p>(765) 764-4364</p>
    </div>

     <div class="col-md-4">
      <h2><strong>W</strong>orship</h2>
      <p>We’d love for you experience our liturgy in person and join us in worship! We gather every Sunday at 9:30 a.m. for about an hour or so. We have a children’s Sunday School that meets during the school year following worship. Come and see!
      </p>
      <h4>Sunday 9:30 a.m.</h4>
    </div>        

  

      <div class="col-md-3">
      <h2><strong>L</strong>ocation</h2>
      <p>204 E Pike St. Attica, Indiana</p>
            <a target="_blank" href="https://www.google.com/maps/place/204+E+Pike+St,+Attica,+IN+47918/@40.289108,-87.2513367,17z/data=!3m1!4b1!4m5!3m4!1s0x8812956efe14f1fd:0x6131b884f582cf4b!8m2!3d40.289108!4d-87.249148">      <img class="map" ng-src="/modules/core/client/img/atticamap.png" /></a>
      </div>

<div class="col-md-2"></div>


      <p></p>
      <p></p>
    </div>




  

</div>

<!-- <div class="parallax"> -->
  <div class="closingWrapper">
<div class="closing"></div>
  </div>
</div>


</section>
