<section>
  <div class="page-header">
    <h1 ng-bind="vm.directory.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.directory.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="directories.edit({ directoryId: vm.directory._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.directory.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.directory.user"
            ng-bind="vm.directory.user.displayName"></span>
      <span ng-if="!vm.directory.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.directory.content"></p>
  {{vm.userList}}
</section>
