<section>
  <div class="page-header">
    <h1 ng-bind="vm.directory.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.directory.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="directories.edit({ directoryId: vm.directory._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>


  <table id="searchObjResults">
  <tr><th class="titler">Username</th><th></th><th class="titler">Name</th></tr>
  <tr ng-repeat="user in vm.userList">
    <td><img ng-src="{{user.profileImageURL}}" alt="{{user.imageURL}}" height="30" width="30"></td>
    <td class = "titler2">
    {{user.username}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>


  </tr>
</table>
<hr/>
Feel like chatting? See who's online and <a href="/chat">start the conversation</a>.

<!-- {{vm.userList}} -->

</section>
