<div class="col-sm-12" id="below-navbar">

  <ul class="nav nav-tabs img-rounded" id="hottest-tabs">
    <li role="presentation" class="active"><a href="#"> Edit Profile </a>
    </li>
  </ul>


</div>

<section ng-controller="SettingsController">
  <div class="col-lg-12 main-deals-settings">


    <nav class="col-md-3 settings-left-list">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav>
    <div class="col-md-9 settings-view">
      <div ui-view></div>
    </div>


  </div>
</section>
