html,

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  background-color: #ACF3F3;
}

/****************************** nav ********************/
.navigation{
  display: none !important;
  height: 0px;
}

.navbar {
  display: none;
  height: 0px;
}

.homeRow {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  min-height: 350px;
}

/*************************** section ******************************/
section .container {
  width: 100vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 0;
}

.content {
  width: 110vw !important;
  margin-left: -30px;
  margin-right: 0;
  padding: 0;
}

/************************* parallax ********************************/

.parallax {
    /* The image used */
    background-image: url("../img/building.jpeg");
    width: 110vw;
    /* Set a specific height */
    min-height: 800px; 
    margin-top: 55px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide {
  padding-top: 420px;
}

.innerSlide{
  width: 300px;
  margin-left: 41vw;
  height: 120px;
  border: 5px solid #ACF3F3;
  border-radius: 20px;
  background: rgb(172, 243, 243, 0.4);
}

.btn {
  background: rgb(172, 243, 243);
  border: none;
}

.btn h1 {
  color: black;
}

.sanctuaryImg {
  background-image: url("../img/sanctuary.jpg");
  min-height: 250px;
  width: 500px;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/worship.jpg");
    height: 470px;
    width: 110vw;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.headline {
  margin: 3px 3px 3px 3px;
  padding: 3px 3px 3px 3px;
}

.sschoolImg {
  background: url("../img/sschool.jpg");
  min-height: 250px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax3 {
    /* The image used */
    background-image: url("../img/service.jpg");
    height: 470px;
    width: 110vw;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax4 {
    /* The image used */
    background-image: url("../img/fellowship.jpg");
    height: 470px;
    width: 110vw;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}



/*.row {
  width: 80%;
  margin-left: 30px;
  margin-right: auto;
}*/

.lead {
  color: green;
  font-style: italic;
  font-style: 20px;

}

/*.wrapper {
  background-image: url("/modules/core/client/img/firstview.jpg");
  min-height: 500px;
}
*/

.logo_F {
  margin-left: 60vw;
  margin-top: 3vh;
  position: fixed;
  z-index: 1;
}

#formReport {
  font-weight: bold;
}

#more {
  font-style: italic;
}

.insideWrapper {
  margin-left: 1050px !important;
  margin-right: auto;
  padding: 100px 100px 100px 100px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.titler {
  color:  #4863A0;
  font-size: 20px;
}

.titler2 {
  color:  green;
  font-size: 16px;
  padding-bottom: 5px;
  padding-right: 8px;
  align-items: center;
}

#searchObjResults {
  border-collapse: separate;
  border-spacing: 2em;
}

.fancytext {
  text-align: center;
  color: #ffffff !important;
}

.fancysubtext {
  text-align: center;
  color: rgb(172, 243, 243);
}

.btn {
  background: rgb(172, 243, 243, 0.4);
}

/********************** scroll icon ***************************/
.scrollRow {
  padding-top: 10%;
  padding-right: 40%;
  padding-left: 45%;
}

/* the wrapper element that will become the outer circle */
.arrow-wrap {
  position: fixed;  
  z-index: 10;
  /*left: 45%;*/
  top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background: rgb(172, 243, 243, 0.5);
  width:10em;
  height:10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  border: 2px solid white;
/*  box-shadow: 0px 0px 5px 0px #fff;*/
}

/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */
.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #fff transparent #fff transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ACF3F3 transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}






/****************Styling for Articles - Create ************************************/
#toggles {
  background-color: rgb(172, 243, 243);
  border-radius: 10px;
  font-color: black;
}

.tg-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

h2 {
  color: #777;
}

h4 {
  color: #999;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}

.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}

.tgl-ios:checked + .tgl-btn {
  background: #86d993;
}

.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}

.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}

.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}

.tgl-skewed + .tgl-btn:active {
  background: #888;
}

.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}

.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}

.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}

.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}

.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}

.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}

.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}

.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

.btn btn-success btn-lg {
  position: center;
}

/*<!-- Main CSS -->*/
/*.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}*/
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
/*.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}*/
/*.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.header.navbar {
  background-color: #90ADCD;
}

.btn {
  background-color: #90ADCD;
}
*/

#directorycontainer {
  border: 2px solid #98AFC7;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

/********** ARTICLE LIST VIEW ***************/

.page-header{
  background-color: lightgreen;
  text-align: center;
}

.middlewrap {
  background-color: black;
}

.list-group {
  background-color: yellow;
  padding-right: 20px;
}

.list-group-item{
  background-color: white;
  min-width: 300px;
  max-width: 350px;
  height: 400px;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 2px solid #317eac !important;
   -moz-border-radius: 5px;
  border-radius: 5px;
/*  -moz-box-shadow: 3px 3px 5px 6px #303030;
  -webkit-box-shadow: 3px 3px 5px 6px ##303030;*/
  box-shadow: 1px 1px 10px 0px rgb(25,25,250);
}

.list-group-item-heading {
  color: green;
  background-color: blue;
}

.list-group-item-text {
  color: black;
}

.alert alert-warning text-center{
  background-color: darkgreen;
}
