.cardx {
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 10px 18px 0 rgba(0,0,0,0.2) !important; 
    position:fixed;
    top: 50%;
    left: 50%;
    width:25em;
    height:20em;
    margin-top: -10em; /*set to a negative number 1/2 of your height*/
    margin-left: -12em;
    padding: 2px 16px !important;
  	background-color: rgba(44, 230, 44, 0.1);
}

/* On mouse-over, add a deeper shadow */
.cardx:hover {
    box-shadow: 4 18px 26px 0 rgba(25,50,25,.8) !important;
	transform: scale(1.1, 1.1) !important;
}

/* Scale up the box */
.cardx: hover {

}

/* Fade in the pseudo-element with the bigger shadow */
.cardx: hover::after {
  opacity: 1 !important;
}
